### Import library

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.5'

### Read CSV file

In [3]:
df=pd.read_csv("data/bd-covid-19.csv")

In [4]:
df.head()

         date  confirmed_case  daily_case
0  2020-01-22               0         0.0
1  2020-01-23               0         0.0
2  2020-01-24               0         0.0
3  2020-01-25               0         0.0
4  2020-01-26               0         0.0

In [5]:
#show first 10 rows
df.head(10)

         date  confirmed_case  daily_case
0  2020-01-22               0         0.0
1  2020-01-23               0         0.0
2  2020-01-24               0         0.0
3  2020-01-25               0         0.0
4  2020-01-26               0         0.0
5  2020-01-27               0         0.0
6  2020-01-28               0         0.0
7  2020-01-29               0         0.0
8  2020-01-30               0         0.0
9  2020-01-31               0         0.0

In [6]:
df.tail()

           date  confirmed_case  daily_case
530  2021-07-05          954881      9964.0
531  2021-07-06          966406     11525.0
532  2021-07-07          977568     11162.0
533  2021-07-08          989219     11651.0
534  2021-07-09         1000543     11324.0

In [7]:
df.tail(10)

           date  confirmed_case  daily_case
525  2021-06-30          913258      8822.0
526  2021-07-01          921559      8301.0
527  2021-07-02          930042      8483.0
528  2021-07-03          936256      6214.0
529  2021-07-04          944917      8661.0
530  2021-07-05          954881      9964.0
531  2021-07-06          966406     11525.0
532  2021-07-07          977568     11162.0
533  2021-07-08          989219     11651.0
534  2021-07-09         1000543     11324.0

### Read TSV file

In [8]:
df=pd.read_csv("data/bd-covid-19.tsv", sep="\t")

In [9]:
 df.head()

         date  confirmed_case  daily_case
0  2020-01-22               0         0.0
1  2020-01-23               0         0.0
2  2020-01-24               0         0.0
3  2020-01-25               0         0.0
4  2020-01-26               0         0.0

### Read Excel file

In [10]:
 df=pd.read_excel("data/bd-covid-19.xlsx")

In [11]:
df.head()

         date  confirmed_case  daily_case
0  2020-01-22               0           0
1  2020-01-23               0           0
2  2020-01-24               0           0
3  2020-01-25               0           0
4  2020-01-26               0           0